
<div class="flex-container">
  <div class="nav classWidthReset classPaddingRest">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <a><img src="assets/icon/chevron-down.png" /></a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link setting" href="#"><img src="assets/icon/Settings.png" /></a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="main"><router-outlet></router-outlet>
  </div>

</div>

